#footer {
  .container {
    text-align: center;
      margin-bottom: 4em;
    h2 {
      margin-bottom: 1em;
    }
    p {
      margin-bottom: 3em;
    }
    i {
      font-size: 2em;
      padding: 0em 2em;
    }
  }
}
